<section class="posts-tags-list opa-effect-container">
  <h2>tags</h2>
  <p>
    <% resource.tags.each do |tag| %>
      <%= link_to tag, by_tag_inspirations_path(tag), class: "tag-item opa-effect-item" %>
    <% end %>
  </p>
</section>
