<header class="main-header container">
  <nav class="main-nav-container opa-effect-container">
    <div class="nc-logotipo">
      <a href="/" class="master-menu-link"><img src="/images/festival-minuto-logo.jpg" alt="Minuto Home"></a>
    </div>
    <ul class="master-menu">
      <li class="menu-iten opa-effect-item">
        <a href="/about" class="master-menu-link">quem somos</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="" class="master-menu-link">faça um concurso</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/cases" class="master-menu-link">cases</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="" class="master-menu-link">cientes</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="" class="master-menu-link">tecnologia</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="" class="master-menu-link">outras ações</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="" class="master-menu-link">contato</a>
      </li>
    </ul>
  </nav>
</header>
