<header class="main-header">
  <nav class="container main-nav-container opa-effect-container">
    <div class="nc-logotipo">
      <a href="/" class="master-menu-link"><img src="/images/festival-minuto-logo.jpg" alt="Minuto Home"></a>
    </div>
    <ul id='master-menu' class="master-menu" data-pages="<%= capture_names(params) %>">
      <li class="menu-iten opa-effect-item">
        <a href="/quemsomos" class="master-menu-link">quem somos</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/concurso" class="master-menu-link">faça um concurso</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/cases" class="master-menu-link">cases</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/clientes" class="master-menu-link">clientes</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/tecnologia" class="master-menu-link">tecnologia</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/outras-acoes" class="master-menu-link">outras ações</a>
      </li>
      <li class="menu-iten opa-effect-item">
        <a href="/contato" class="master-menu-link">contato</a>
      </li>
    </ul>
  </nav>
</header>
