/* app_wide_styles */

/* element styling */
body {
  @include clearfix;
  @include text ($primary-color);
  @include basic;
  min-height: 1000px;

}

a:link {
  color: #BBB;
  text-decoration: none;
}
a:visited {
  color: #BBB;
  text-decoration: none;
}
a:hover {
  color: #740F0D;
  text-decoration: none;
}
a:active {
  color: #BBB;
  text-decoration: none;
}
a.active {
  color: #740F0D;
}

h1, h2, h3 {
  @include text;
  @include title;
  padding: 0px 4px;
}
h4, h5, h6 {
  @include text;
  font-weight: normal;
  padding: 0px 4px;
}

strong {
  @include title;
}

p {
  padding: 0px 4px;
}
p + p {
  margin-top: 16px;
}

.hidden {
  display: none !important;
}

/* ESTADO — OPACIDADE NO HOVER --------------------------------------------- */
.opa-effect-container:hover .opa-effect-item {
  @include opacity(0.30);
  @include transition(all);
  &.opa-effect-item:hover {
    @include opacity(1);
  }
}
/* -------------------------------------------------------------------------- */


/* ESTADOS ------------------------------------------------------------------ */
  .is-block {
    display: block !important;
  }
  .is-none {
    display: none !important;
  }
/* -------------------------------------------------------------------------- */


/* MÓDULO — CABEÇALHO DAS PÁGINAS ------------------------------------------- */
.section-header-ctn {
  @include clearfix;
  @include border-box();
  float: left;
  margin-top: 8px;
  padding: 0 12px;
  width: 100%;
  &.indented-title {
    @include preffix(3, -12px);
  }
}

.section-title {
  @include title;
  @include section-title;
  @include big-title;
  display: inline-block;
  margin-bottom: 32px;
  padding: 7px 4px 0px;
  width: 356px;
  &.blank-title {
    padding: 0px;
    margin-bottom: 0px;
  }
}

.title-border {
  border-top: 1px dotted $id-color;
  display: inline-block;
  padding-top: 15px;
  width: 128px;
}

/* --------------------------------------------------------------------------------------- */

/* MÓDULO — GALERIA DE IMAGENS */
.gallery-window {
  float: left;
  position: relative;
  .arrow {
    height: 172px;
    margin-top: -86px;
    top: 50%;
  }
  .paginator-arrow {
    height: 48px;
    width: 48px;
    bottom: 0px;
    top: none;
    margin-top: 0px;
  }
}
.gallery-list {
  background: #f2f2f2;
  float: left;
  height: 480px;
  position: relative;
  width: 720px;
}
.gallery-item {
  left: 0px;
  position: absolute;
  top: 0px;
}
.gallery-image {
  max-height: 480px;
  max-width: 720px;
}
.paginator-window {
  border-top: 1px solid #CCC;
  cursor: pointer;
  float: left;
  height: 48px;
  margin-top: 16px;
  overflow: hidden;
  padding: 16px 0px 0px;
  width: 100%;
}
.paginator {
  height: 48px;
  margin-left: 240px;
  .paginator-item {
    display: inline;
    float: left;
  }
  img {
    float: left;
    height: 48px;
    margin-right: 16px;
  }
}

/* COMPLEMENTO DA GALERIA */

.media-frame {
  border: 0px solid $secondary-color;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin: 16px 0;
  padding: 32px 0;
}



/* MÓDULO — SETAS ---------------------------------------------------------- */
.arrow {
  background-color: #F2F2F2;
  background: rgba(0,0,0,0.5);
  height: 100%;
  opacity: 0.06;
  position: absolute;
  width: 48px;
  z-index: 200;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &.left-arrow {
    background-color: #F2F2F2;
    background: url('l-arrow.png') no-repeat center center rgba(0,0,0,0.5);
    left: 0px;
    &.home-river {
      left: 2px;
      height: 172px;
      top: 62px;
    }
  }
  &.right-arrow {
    background-color: #F2F2F2;
    background: url('r-arrow.png') no-repeat center center rgba(0,0,0,0.5);
    right: 0px;
    &.home-river {
      right: 2px;
      height: 172px;
      top: 62px;
    }
  }
}
.paginator-window {
  .arrow {
    top: 0px;
  }
}
/* -------------------------------------------------------------------------- */

/* MÓDULO — LOADING ---------------------------------------------------------- */
.loading {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: url("/assets/loader.gif") no-repeat center;
  background-color: white;
  z-index: 201;
}
/* -------------------------------------------------------------------------- */

/* TOOLTIP ------------------------------------------------------------------ */
.tooltip {
  background-color: #F2F2F2;
  border: 1px solid #B3B3B3;
  display: none;
  min-width: 176px;
  min-height: 96px;
  padding: 8px 4px;
  position: absolute;
  z-index: 2;
}

/* ESTILOS PARA REPARAÇÃO POSTERIOR */

.title1 {
  @include title;
  @include section-title;
  @include big-title;
  margin-bottom: 0px;
  padding: 7px 4px 0px;
  + p {
    margin-top: 32px;
  }
}

.title2 {
  @include mid-title;
  
}

.title-border ~ .title-border {
  margin-top: 48px;
}

.pres-text-ctn {
  margin-bottom: 48px;
}

.txt-ctn {
  @include grid(6);
}

.video-list {
  float: left;
  .video-list-item {
    float: left;
  }
}

.cases-list {
  @include grid_father(12);
  .list-item {
    @include grid(5);
  }
  .list-item-header {
    margin-top: 16px;
  }
}

.clients-list {
  .list-item {
    @include grid(3);
  }
}

.list-item {
  margin-bottom: 32px;
}

.about-us-list {
  @include grid_father(12);
  .media-ctn {
    @include grid(8);
  }
  .txt-ctn {
    @include grid(4);
  }
}

/* HOME */

.home-text-ctn {
  @include grid(10);
  @include preffix(3);
  @include colunms(2);
  margin-bottom: 16px;
}

.home-gallery {
  @include grid_father(15);
  padding: 16px 0;
  .gallery-list {
    left: 240px;
  }
}

/* CASES */

.case-text {
  @include preffix(3);
  .case-title-header {
    margin-bottom: 32px;
  }
}

.gallery-window.case-images {
  border: solid #000;
  border-width: 1px 0px;
  margin-top: 32px;
  padding: 32px 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  .case-images-river {
    min-width: 5000px;
  }
  .river-media-ctn {
    float: left;
    margin-right: 16px;
  }
  .river-image, .river-video {
    display: block;
  }
  .river-caption {
    margin-top: 16px;
    @include title;
    display: block;
  }
}

.data-ctn {
  @include grid_father(15);
  margin-top: 32px;
  &.case-data {
    background-color: #CCC;
    .txt-ctn {
      @include grid(12);
      padding: 22px 0 16px;
    }
    h5 {
      @include mid-title;
      color: #FFF;
    }
  }
  .data-header {
    @include grid(3, 8px, 8px, 8px);
    @include section-title;
    @include big-title;
    padding-top: 16px;
  }
  &.case-metrics{
    .txt-ctn {
      @include grid(6);
      padding: 22px 0 16px;
      .highlight-paragrafh {
        @include mid-title;
        .notes {
          font-size: 15px;
          line-height: 16px;
        }
      }
    }
  }
}
.border-top {
  border-top: 1px solid #000;
}

/* QUEM SOMOS */

.indented-index {
  @include grid_father(12);
  @include preffix(3);
}

/* TECNOLOGIA */

.tec-figure {
  @include grid_father(15);
  float: left;
  .media-choice {
    @include grid(9);
    @include preffix(3);
  }
  .txt-ctn {
    @include grid(3);
  }
}










