/* APP WIDE MIXINS AND VARIABLES */
/* colors */
$id-color: #740F0D;
$primary-color: #000;
$secondary-color: #BBB;
$inverse-color: #FFF;
$active-color: #000;

$art-solid-color: rgb(77,34,109);
$architecture-solid-color: rgb(255,194,12);
$design-solid-color: rgb(241,90,36);
$fashion-solid-color: rgb(0,148,221);
$art-rgba-color: rgb(77,34,109);
$architecture-rgba-color: rgb(255,194,12);
$design-rgba-color: rgb(241,90,36);
$fashion-rgba-color: rgb(0,148,221);

@mixin border-box($property: border-box) {
  -moz-box-sizing: $property;
  -webkit-box-sizing: $property;
  box-sizing: $property;
}

@mixin opacity($value) {
  -ms-filter: $value * 100;
  filter: $value * 100;
  opacity: $value;
}

@mixin transition($property: '*', $duration: 500ms) {
       -o-transition: $property $duration;
     -moz-transition: $property $duration;
      -ms-transition: $property $duration;
  -webkit-transition: $property $duration;
          transition: $property $duration;
}

@mixin bg-solid($value: ''){
  background-color: rgb($value);
}

@mixin bg-rgba($value: '', $opacity: '1'){
  background-color: rgba($value,$opacity);
}

@mixin colunms($value: '1') {
  -o-column-count: $value;
  -o-column-gap: 16px;
  -o-column-rule: none;
  -moz-column-count: $value;
  -moz-column-gap: 16px;
  -moz-column-rule: none;
  -ms-column-count: $value;
  -ms-column-gap: 16px;
  -ms-column-rule: none;
  -webkit-column-count: $value;
  -webkit-column-gap: 16px;
  -webkit-column-rule: none;
  column-count: $value;
  column-gap: 16px;
  column-rule: none;
}
