<div class="field-group">
  <div class="field">
    <%= label_tag label %>
    <%= attachment_uploader resource, :photos, :video, embedded_in: parent %>
    <%= attachment_uploader resource, :photos, :image, embedded_in: parent %>
    <%= attachment_loader resource, :photos, embedded_in: parent %>
  </div>
</div>
