<section class="home-index container">

  <section class="creators-home section-spacer">
    <div class="section-header-ctn">
      <h1 class="section-title">
        About
      </h1>
    </div>

</section>
