<div class="container">
  <ul class="cases-list">
    <a href="/cases/case1" >
      <li class="list-item opa-effect-item">
        <iframe width="356" height="224" src="http://www.youtube.com/embed/vxOA3INGc0U" frameborder="0" allowfullscreen></iframe>
        <hgroup class="list-item-header">
          <h1 class="title1">
            Cores família espelho
          </h1>
          <h4 class="title2">
            avon — 2013
          </h4>
        </hgroup>
      </li>
    </a>  
  </ul>
</div>
