<div class="container">
  <ul class="cases-list">
    <a href="/cases/case1" >
      <li class="list-item opa-effect-item">
        <img width="356" height="271" src="/images/cases/case1-t.jpg">
        <hgroup class="list-item-header">
          <h1 class="title1">
            MOVIMENTO CYAN
          </h1>
          <h4 class="title2">
            ambev — 2010
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case2" >
      <li class="list-item opa-effect-item">
        <img width="356" height="271" src="/images/cases/case2-t.jpg">
        <hgroup class="list-item-header">
          <h1 class="title1">
            ACABOU A GASOLINA
          </h1>
          <h4 class="title2">
            PETROBRÁS – 2008
          </h4>
        </hgroup>
      </li>
    </a>  
  </ul>
</div>
