<div class="container">
  <ul class="cases-list opa-effect-container">
    <a href="/cases/case1" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="250" src="/images/cases/case1-t.jpg">
        </span>  
        <hgroup class="list-item-header">
          <h1 class="title1">
            MOVIMENTO CYAN
          </h1>
          <h4 class="title2">
            ambev — 2010
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case2" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="250" src="/images/cases/case2-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            ACABOU A GASOLINA
          </h1>
          <h4 class="title2">
            PETROBRÁS – 2008
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case3" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="250" src="/images/cases/case3-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            AVON 2013
          </h1>
          <h4 class="title2">
            Temas patrocinados: CORES, ESPELHO, FAMÍLIA
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case4" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="271" src="/images/cases/case4-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            FAPESP 2012
          </h1>
          <h4 class="title2">
            Tema patrocinado: CIÊNCIA
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case5" >
      <li class="list-item opa-effect-item">
        <img width="356" height="271" src="/images/cases/case5-t.jpg">
        <hgroup class="list-item-header">
          <h1 class="title1">
            SABESP . ANA .  FAPESP  
          </h1>
          <h4 class="title2">
            Tema Patrocinado: MINUTO  ESCOLA SP 2012
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case6" >
      <li class="list-item opa-effect-item">
        <img width="356" height="271" src="/images/cases/case6-t.jpg">
        <hgroup class="list-item-header">
          <h1 class="title1">
            MINUTO MÓVEL
          </h1>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case7" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="271" src="/images/cases/case7-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            BND 2009
          </h1>
          <h4 class="title2">
            Tema Patrocinado: Minuto Instantâneo – Padre Cícero
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case8" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="271" src="/images/cases/case8-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            SABESP e ANA – Agência Nacional das Águas  2012
          </h1>
          <h4 class="title2">
            Tema patrocinado: RIOS
          </h4>
        </hgroup>
      </li>
    </a>  
    <a href="/cases/case9" >
      <li class="list-item opa-effect-item">
        <span class="list-image-wrapper">
          <img width="356" height="271" src="/images/cases/case9-t.jpg">
        </span>
        <hgroup class="list-item-header">
          <h1 class="title1">
            NET 2011
          </h1>
          <h4 class="title2">
            Temas patrocinados: TRAILER DO MEU FILME E MINUTO UNIVERSITÁRIO
          </h4>
        </hgroup>
      </li>
    </a>  
  </ul>
</div>
