<div class="container clients-list opa-effect-container">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_01.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_02.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_03.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_04.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_05.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_06.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_07.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_08.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_09.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_10.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_11.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_12.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_13.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_14.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_15.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_16.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_17.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_18.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_19.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_20.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_21.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_22.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_23.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_24.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_25.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_26.jpg">
  <img width="204" height="204" class="list-item opa-effect-item" src="images/clientes_27.jpg">

</div>