<div class="container content-wrapper">
  <section class="concurso-index indented-index">
    <div class="txt-ctn">
      <span class="title-border">
        <h1 class="section-title">
          Por quê fazer um concurso
        </h1>
      </span>
      <p>
        Num panorama de excesso de informações, em que uma pessoa é impactada por inúmeras mensagens publicitárias por dia, o Festival do Minuto:
      </p>
      <p>
        • Destaca-se pela capacidade de capturar a atenção de espectadores através de seu conteúdo curto e criativo.
      </p>
      <p>
        • Garante a associação de sua marca com conteúdos de qualidade.
      </p>
      <p>
        • E uma das marcas culturais mais conhecidas do país.
      </p>
      <p>
        • Obtém altíssimo índice de mídia espontânea e viral nos principais meios de comunicação.
      </p>
      <p>
        • O Festival é local perfeito para se dialogar com um público criativo, que produz cultura de forma divertida, difundindo vídeos para todo o Brasil e para o mundo.
      </p>
      <span class="title-border">
        <h1 class="section-title">
          Ações do patrocínio
        </h1>
      </span>
      <p>
        1. Hotsite: Criação de um  Hotsite do tema no portal do Festival do Minuto.

      </p>
      <p>
        2. Redes sociais: Divulgação do evento através de redes sociais na Internet e dos canais do Festival do Minuto em grandes portais: YOUTUBE ( mais de 5 milhões de visualizações) FACEBOOK (mais de 110 mil curtir nas páginas nacional e internacional), TWITTER.
      </p>
      <p>
        3. Criação de Vinheta especial sobre o tema.
      </p>
      <p>
        4. Material gráfico: 200.000  mini-postais e 1000 cartazes.
      </p>
      <p>
        5. FACEBOOK: Campanha de mídia paga para divulgar o tema (R$ 10.000,00) 
      </p>
      <p>
        6. Assessoria de imprensa: contratada para divulgar o tema proposto.
      </p>
      <p>
        7. Divulgação em Universidades: Divulgação do concurso e distribuição de material gráfico  em 20 universidades paulistanas de comunicação onde temos jovens estudantes contratados.
      </p>
      <p>
        8. Escolha dos vídeos: Julgamento online dos vídeos através do software MEDIACHOICE.
      </p>
      <p>
        * Os valores e quantidades de premiação e divulgação estão sujeitos a alterações de acordo com as particularidades do projeto e o combinado entre o patrocinador e o Festival do Minuto.
      </p>
    </div>
    
    <div class="txt-ctn">
      <span class="title-border">
        <h1 class="section-title">
          Como acontece
        </h1>
      </span>
      <div class="frame-gallery map-ctn">
        <img src="images/como-acontece.jpg" usemap="#como-funciona">
        <map id="como-funciona" name="como-funciona">
          
          <area class="tooltip1-ctn" shape="rect" coords="61,68,210,244" href="#" alt="sua empresa" title="sua empresa">
          <span class="tooltip tooltip1"><strong>1.</strong> Sua empresa sente necessidade em se comunicar com o seu público  propondo um concurso de vídeo.</span>
          
          <area class="tooltip5-ctn" shape="rect" coords="241,68,390,244" alt="curadoria" title="curadoria">
          <span class="tooltip tooltip5"><strong>5. Curadoria</strong><br>
          Usando o software do MediaChoice, que mescla inteligência artificial e julgamento humano (curadores juniores) o contudo que chegar será qualificado. Estes, em seguida serão publicados no site e redes sociais.</span>
          
          <area class="tooltip2-ctn" shape="rect" coords="158,242,307,418" alt="tema" title="tema">
          <span class="tooltip tooltip2"><strong>2. Tema patrocinado</strong><br>
          O tema é escolhido em conjunto com a equipe de curadoria do Festival do Minuto.</span>
          
          <area class="tooltip3-ctn" shape="rect" coords="158,417,307,593" alt="usuário" title="usuário">
          <span class="tooltip tooltip3"><strong>3. Usuário</strong><br>
          Os usuários que se identificam com o tema serão atingidos pela proposta.</span>
          
          <area class="tooltip4-ctn" shape="rect" coords="159,593,308,702" alt="ideia" title="ideia">
          <span class="tooltip tooltip4"><strong>4. Ideia criativa</strong><br>
          Os usuários produzirão durante 3 ou 4 meses, conteúdos dentro do tema proposto.. É uma forma inédita de se aproximar de seu público consumidor, associando sua marca à produção de vídeos culturais de qualidade.</span>
          
          <area class="tooltip7-ctn" shape="rect" coords="11,700,179,809" alt="comportamento" title="comportamento">
          <span class="tooltip tooltip7">
            <strong>7. Compartilhamento</strong><br>
            Durante o processo do concurso e principalmente no seu encerramento a repercussão do tema e dos premiados entre os usuários é enorme. Gerando uma rede de compartilhamento de alto alcance.
          </span>
          
          <area class="tooltip6-ctn" shape="rect" coords="259,721,427,830" alt="usuários" title="usuários">
          <span class="tooltip tooltip6">
            <strong>6. Premiação</strong><br>
            O  concurso oferece R$ 10.000,00. Além da premiação da curadoria do Festival do Minuto, (3 prêmios de R$ 2.000,00) será dado um prêmio aquisição (1 prêmio de R$ 4.000,00), que possibilita que o patrocinador escolha um vídeo que poderá utilizar em qualquer mídia pelo período de um ano.
          </span>
          
        </map>
      </div>
    </div>
  </section>
</div>