<div class="container">
  <section class="indented-index">
    <div class="txt-ctn">
      <span class="title-border">
        <h1 class="section-title">
          Por quê fazer um concurso
        </h1>
      </span>
      <p>
        Num panorama de excesso de informações, em que uma pessoa é impactada por inúmeras mensagens publicitárias por dia, o Festival do Minuto:
      </p>
      <p>
        • Destaca-se pela capacidade de capturar a atenção de espectadores através de seu conteúdo curto e criativo.
      </p>
      <p>
        • Garante a associação de sua marca com conteúdos de qualidade.
      </p>
      <p>
        • E uma das marcas culturais mais conhecidas do país.
      </p>
      <p>
        • Obtém altíssimo índice de mídia espontânea e viral nos principais meios de comunicação.
      </p>
      <p>
        • O Festival é local perfeito para se dialogar com um público criativo, que produz cultura de forma divertida, difundindo vídeos para todo o Brasil e para o mundo.
      </p>
      <span class="title-border">
        <h1 class="section-title">
          Ações do patrocínio
        </h1>
      </span>
      <p>
        1. Hotsite: Criação de um  Hotsite do tema no portal do Festival do Minuto.

      </p>
      <p>
        2. Redes sociais: Divulgação do evento através de redes sociais na Internet e dos canais do Festival do Minuto em grandes portais: YOUTUBE ( mais de 5 milhões de visualizações) FACEBOOK (mais de 110 mil curtir nas páginas nacional e internacional), TWITTER.
      </p>
      <p>
        3. Criação de Vinheta especial sobre o tema.
      </p>
      <p>
        4. Material gráfico: 200.000  mini-postais e 1000 cartazes.
      </p>
      <p>
        5. FACEBOOK: Campanha de mídia paga para divulgar o tema (R$ 10.000,00) 
      </p>
      <p>
        6. Assessoria de imprensa: contratada para divulgar o tema proposto.
      </p>
      <p>
        7. Divulgação em Universidades: Divulgação do concurso e distribuição de material gráfico  em 20 universidades paulistanas de comunicação onde temos jovens estudantes contratados.
      </p>
      <p>
        8. Escolha dos vídeos: Julgamento online dos vídeos através do software MEDIACHOICE.
      </p>
      <p>
        * Os valores e quantidades de premiação e divulgação estão sujeitos a alterações de acordo com as particularidades do projeto e o combinado entre o patrocinador e o Festival do Minuto.
      </p>
    </div>
    
    <div class="txt-ctn">
      <span class="title-border">
        <h1 class="section-title">
          Como acontece
        </h1>
      </span>
      <div class="gallery-frame">
        <img src="images/como-acontece.jpg">
      </div>
    </div>
  </section>
</div>