<section class="contact-action-index container">
  <div class="indented-index">

    <header class="section-header-ctn">
      <span class="title-border">
        <h1 class="title1 blank-title">
          &nbsp;
        </h1>
      </span>
    </header>
    <div class="txt-ctn pres-text-ctn">
      <p>
        <a href="mailto:concursos@festivaldominuto.com.br">concursos@festivaldominuto.com.br</a>
        <br>+ 55 11 3061 0051
      </p>
    </div>
    
  </div>
</section>
