<section class="home-index container section-spacer">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="home-text-ctn">
    <p>
      O Festival do Minuto é uma forma inédita e divertida de se aproximar de seu público consumidor, associando sua marca à produção de vídeos culturais de qualidade.
    </p>
    <p>
      Num panorama de excesso de informações, em que uma pessoa é impactada por cerca de 3.600 mensagens publicitárias por dia, o Festival do Minuto destaca-se pela capacidade de capturar a atenção de espectadores através de seu conteúdo curto e criativo.
    </p>
    <p>
      Juntamente  com a curadoria do Festival você escolhe um tema e o cronograma da ação, que pode ser de 1 semana até 4 meses. Todos os vídeos recebidos são avaliados por uma equipe de curadores e só depois publicados no site. Os melhores vídeos recebem prêmios em dinheiro. O prêmio aquisição, escolhido pelo patrocinador dá direito a veiculação vídeo premiado em qualquer mídia pelo período de 1 ano.
    </p>
    <p>
      A ação obtém altíssimo índice de mídia espontânea e viral, os vídeos do Festival já foram visualizados mais de 5 milhões de vezes no Youtube e temos mais de 120 mil fãs (dados de janeiro de 2013) nas fanpages nacional e internacional do Festival do Minuto no Facebook.<br>
      Entre em contato e solicite uma reunião.
    </p>
    <p>
      Atenciosamente,<br>
      Festival do Minuto
    </p>
  </div>

  <div class="home-gallery media-frame">
    <ul class="gallery_one gallery-list" id = "1">
      <li class="gallery-item" data-thumb_src="/images/home-acervo-t.jpg">
        <img src="/images/home-acervo.jpg" alt="gallerize image 1">
      </li>
      <li class="gallery-item" data-thumb_src="/images/home-cartela-media-choice-t.jpg">
        <img src="/images/home-cartela-media-choice.jpg" alt="gallerize image 2">
      </li>
      <li class="gallery-item" data-thumb_src="/images/home-comeca-nossos-cases-t.jpg">
        <img src="/images/home-comeca-nossos-cases.jpg" alt="gallerize image 2">
      </li>
      <li class="arrow left-arrow"></li>
      <li class="arrow right-arrow"></li>
    </ul>
  </div>

  <div class="home-gallery media-frame">
    <ul class="gallery-list" id="0">
      <li class="gallery-item">
        <img src="/images/home-acervo.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-cartela-media-choice.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-comeca-nossos-cases.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-conteudo-cultural.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-faca-um-concurso.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-minuto-movel.jpg">
      </li>
      <li class="gallery-item">
        <img src="/images/home-minuto-AD.jpg">
      </li>
    </ul>
    <div class="paginator-window">
      <ul class="paginator opa-effect-container">
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-acervo-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-cartela-media-choice-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-comeca-nossos-cases-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-conteudo-cultural-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-faca-um-concurso-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-minuto-movel-t.jpg">
          </a>
        </li>
        <li class="opa-effect-item">
          <a href="">
            <img src="/images/home-minuto-AD-t.jpg">
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>
