<div class="other-action-index container content-wrapper">
  <section class="indented-index">

    <header class="section-header-ctn">
      <span class="title-border">
        <h1 class="title1 blank-title">
          &nbsp;
        </h1>
      </span>
    </header>
    <div class="txt-ctn pres-text-ctn">
      <p>
       Além dos concursos online, o Festival do Minuto oferece outras possibilidades de investimento. 
      </p>
    </div>
    <ul class="video-list about-us-list">
      <li class="video-list-item list-item">
        <div class="media-ctn">
          <object width="594" height="257" class="river-video"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
          <param name="SRC" value="http://www.minutoad.com.br/jwplayer.swf?image=http://cdn.minutoad.com.br/thumbnails/75/large.png?1338236929&file=http://s3.amazonaws.com/minutoad/encoded_videos/75/788c61e953bef6ad93e90767f1b27a8e5d949304.mp4?1325376000">
            <embed width="594" height="257" class="river-video" src="http://www.minutoad.com.br/jwplayer.swf?image=http://cdn.minutoad.com.br/thumbnails/75/large.png?1338236929&file=http://s3.amazonaws.com/minutoad/encoded_videos/75/788c61e953bef6ad93e90767f1b27a8e5d949304.mp4?1325376000">
            </embed>
          </object>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">MINUTO AD</h1>
          <p>
            Da mesma maneira que o Festival do Minuto, o Minuto AD funciona exclusivamente através de um site. A diferença é que no Minuto AD quem lança o desafio e dita as regras é o patrocinador. Ou seja, o patrocinador pode realizar ideias colaborativas para angariar ideias, promover temas e complementar projetos já existentes, tendo participação direta na avaliação e escolha dos conteúdos.
          </p>
        </div>
      </li>
      <li class="video-list-item list-item">
        <div class="txt-ctn">
          <h1 class="title1">MINUTO MÓVEL</h1>
          <p>
            Um caminhão do Festival do Minuto percorre cidades exibindo em eventos, praças, praias, bares, universidades e escolas, uma seleção de filmes premiados do Minuto e fazendo a promoção da marca do patrocinador e dos temas do Festival por onde passa.
          </p>
          <p>
            Conheça as ações do Minuto Móvel!
          </p>
        </div>
        <div class="media-ctn">
          <object width="594" height="257" class="river-video"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
          <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8264/large.png?1335579836&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8669/32c8438c869c21c5c67c00bba5a0504d14601a93.mp4?1325376000">
            <embed width="594" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8264/large.png?1335579836&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8669/32c8438c869c21c5c67c00bba5a0504d14601a93.mp4?1325376000">
            </embed>
          </object>
        </div>
      </li>
       <li class="video-list-item list-item">
        <div class="media-ctn">
          <object width="594" height="257" class="river-video"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
          <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9309/large.png?1335580198&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/9704/6486e70ae3e1a488f8b443595e9e7a18a32cd9ad.mp4?1325376000">
            <embed width="594" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9309/large.png?1335580198&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/9704/6486e70ae3e1a488f8b443595e9e7a18a32cd9ad.mp4?1325376000">
            </embed>
          </object>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">MINUTO INSTANTÂNEO</h1>
          <p>
            Durante um evento específico ou uma data festiva, realizamos um concurso para a realização de vídeos de até 1 Minuto inspirados por essa data ou evento. É uma forma inédita de instigar os cidadãos, tanto amadores quanto profissionais do vídeo, a produzirem cultura, aproveitando um momento em que a cidade inteira está mobilizada para a realização de um evento. O Minuto Instantâneo foi realizado com sucesso na Virada Cultural de São Paulo e também com o tema Padre Cícero, com vídeos realizados durante a romaria que acontece na cidade de Juazeiro do Norte.
          </p>
        </div>
      </li>
    </ul>
  </section>
</div>
