<div class="container">
  <section class="indented-index">

    <header class="section-header-ctn">
      <span class="title-border">
        <h1 class="title1 blank-title">
          &nbsp;
        </h1>
      </span>
    </header>
    <div class="txt-ctn pres-text-ctn">
      <p>
        O Festival do Minuto é um evento que foi criado no Brasil em 1991. É hoje o maior festival de vídeo da América Latina, tendo inspirado festivais do minuto em mais de 50 países. O criador do Festival é o Cineasta Marcelo Masagão.
      </p>
      <p>
        Nestes 20 anos de existência foram realizados mais de 300 concursos de vídeos, entre outros concursos culturais.
      </p>
    </div>
    <ul class="video-list about-us-list">
      <li class="video-list-item list-item">
        <div class="media-ctn">
          <object width="584" height="390"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
            <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/11388/large.png?1341280618&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11833/fd6af7d3fdd1285d94fd58fbcfb58602666c5b72.mp4?1325376000">
            <embed width="584" height="257" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/11388/large.png?1341280618&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11833/fd6af7d3fdd1285d94fd58fbcfb58602666c5b72.mp4?1325376000">
            </embed>
          </object>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">Samba é madeira</h1>
        </div>
      </li>
      <li class="video-list-item list-item">
        <div class="txt-ctn">
          <h1 class="title1">Children</h1>
        </div>
        <div class="media-ctn">
          <object width="584" height="257"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
            <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/2972/large.png?1335577237&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3533/c09dd942e1b10046edd3b8c34c8dc0fc4d7d8a21.mp4?1325376000">
            <embed width="584" height="257" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/2972/large.png?1335577237&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3533/c09dd942e1b10046edd3b8c34c8dc0fc4d7d8a21.mp4?1325376000">
            </embed>
          </object>
        </div>
      </li>
      <li class="video-list-item list-item">
        <div class="media-ctn">
          <object width="584" height="257"
          classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
            <param name="SRC" value="http://www.minuteen.com.br/jwplayer.swf?image=http://d20ocsr95692v5.cloudfront.net/frame_thumbnails/450/large.png?1344518540&file=http://s3.amazonaws.com/production.minuteen/encoded_videos/768/59cf013d8993c394cdf1ac180d891216ce198292.mp4?1325376000">
            <embed width="584" height="257" src="http://www.minuteen.com.br/jwplayer.swf?image=http://d20ocsr95692v5.cloudfront.net/frame_thumbnails/450/large.png?1344518540&file=http://s3.amazonaws.com/production.minuteen/encoded_videos/768/59cf013d8993c394cdf1ac180d891216ce198292.mp4?1325376000">
            </embed>
          </object>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">Estudante Exentrico</h1>
        </div>
      </li>
    </ul>
  </section>
</div>
