<div class="container">
<section class="about-index">

  <header class="section-header-ctn">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="basic-text-ctn">
    <p>
      O Festival do Minuto é um evento que foi criado no Brasil em 1991. É hoje o maior festival de vídeo da América Latina, tendo inspirado festivais do minuto em mais de 50 países. O criador do Festival é o Cineasta Marcelo Masagão.
    </p>
    <p>
      Nestes 20 anos de existência foram realizados mais de 300 concursos de vídeos, entre outros concursos culturais.
    </p>
  </div>
  <ul class="video-list">
    <li class="video-list-item">
      
    </li>
  </ul>
</section>
</div>
