<div class="container">
  <section class="indented-index">

    <header class="section-header-ctn">
      <span class="title-border">
        <h1 class="title1 blank-title">
          &nbsp;
        </h1>
      </span>
    </header>
    <div class="txt-ctn pres-text-ctn">
      <p>
        O Festival do Minuto é um evento que foi criado no Brasil em 1991. É hoje o maior festival de vídeo da América Latina, tendo inspirado festivais do minuto em mais de 50 países. O criador do Festival é o Cineasta Marcelo Masagão.
      </p>
      <p>
        Nestes 20 anos de existência foram realizados mais de 300 concursos de vídeos, entre outros concursos culturais.
      </p>
    </div>
    <ul class="video-list about-us-list">
      <li class="video-list-item list-item">
        <div class="media-ctn">
          <object id='player' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' name='player' width='400' height='315'> 
            <param name='movie' value='http://www.minutefestival.com/swf/player' /> 
            <param name='allowfullscreen' value='true' /> 
            <param name='allowscriptaccess' value='always' /> 
            <param name='flashvars' value='file=http://dxwucip2kikjn.cloudfront.net/vid/old/281.flv&image=../scr/old/281_0.jpg&autostart=true&plugins=viral-2,adtvideo&viral.allowmenu=false&viral.onpause=false&viral.functions=share,embed&adtvideo.config=http%3A%2F%2Fwww.minutefestival.com%2Fxml%2Fads.xml.php%3Fvid_id%3D281%26canal%3Dfestivaldominuto' /> 
            <embed type='application/x-shockwave-flash' id='player' name='player' src='http://www.minutefestival.com/swf/player.swf' allowscriptaccess='always'       allowfullscreen='true' flashvars='file=http://dxwucip2kikjn.cloudfront.net/vid/old/281.flv&image=../scr/old/281_0.jpg&autostart=true&plugins=viral-2,adtvideo&viral.allowmenu=false&viral.onpause=false&viral.functions=share,embed&adtvideo.config=http%3A%2F%2Fwww.minutefestival.com%2Fxml%2Fads.xml.php%3Fvid_id%3D281%26canal%3Dfestivaldominuto' width='400' height='315'>
              
            </embed> 
          </object>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">Samba é madeira</h1>
        </div>
      </li>
      <li class="video-list-item list-item">
        <div class="txt-ctn">
          <h1 class="title1">Children</h1>
        </div>
        <div class="media-ctn">
          <iframe width="594" height="368" src="http://www.youtube.com/embed/EzyEwL5B3H4" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      <li class="video-list-item list-item">
        <div class="media-ctn">
          <iframe width="594" height="368" src="http://www.youtube.com/embed/EzyEwL5B3H4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="txt-ctn">
          <h1 class="title1">Estudante Exentrico</h1>
        </div>
      </li>
    </ul>
  </section>
</div>
