<section class="technology-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title">
        Seleção de vídeos, fotos, textos ou audios
      </h1>
    </span>
  </header>
  <figure class="media-frame tec-figure">
    <img src="/images/media-choice.jpg" class="media-choice">
    <figurecaption class="txt-ctn">
      <p>
        Para o processo de avaliação de conteúdo foi criado o MEDIACHOICE um software que mescla avaliação humana com inteligência artificial e permite a avaliação de uma grande quantidade de conteúdo qualificando os melhores trabalhos. Todo o conteúdo recebido é avaliado por uma equipe de curadores e só depois publicado no site. Os conteúdos com as melhores notas da curadoria são destacados na home do festival. 
      </p>
    </figurecaption>
  </figure>
</section>