<section class="home-index container section-spacer">
  <header class="section-header-ctn">
    <span class="title-border">
      <h1 class="section-title">
        Seleção de vídeos, fotos, textos ou audios
      </h1>
    </span>
  </header>
  <div class="frame-gallery">
    <ul class="gallery-list">
      <li>
        <img src="">
      </li>
    </ul>
  </div>

</section>