.event-header {
  float: left;
  .event-period {
    @include text;
  }
}

/*  WEEK CALENDAR */
.week-calendar-ctn {
  @include grid(2);
}
.month-selector {
  padding: 3px 0px 5px;
  text-align: center;
}
.events-list-short {
  float: left;
  margin-top: 8px;
}
.events-list-short-item {
  border-bottom: 1px solid $secondary-color;
  float: left;
  padding: 3px 0px 4px;
  .day-ctn {
    @include grid(0.5, 0, 8px, 0);
    text-align: center;
  }
  .event-header {
    @include grid(1.5, 0, 4px, 4px);
  }
}

/* COMPLETE CALENDAR */
.complete-calendar-ctn {
  @include grid_father(10);
}
.events-list-item {
  @include grid(2);
  border-bottom: 2px solid #FFF;
  height: 270px;
  overflow: hidden;
  .event-thumb {
    float: left;
  }
  .event-header {
    padding: 3px 0px 0px;
  }
}


/* MINI-ARROWS */

.arrow-mini {
  background: #f2f2f2;
  cursor: pointer;
  float: left;
  height: 16px;
  .caret {
    margin: 5px 88px;
    text-align: center;
  }
}
.arrow-mini-top {
  .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #999;
    border-top: 0px solid transparent;
  }
}
.arrow-mini-left {
  border-bottom: 4px solid transparent;
  border-right: 4px solid #999;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  cursor: pointer;
  left: 4px;
  position: absolute;
  top: 7px;
}
.arrow-mini-right {
  border-bottom: 4px solid transparent;
  border-left: 4px solid #999;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 7px;
}
