.creators-index {
  .creators-list {
    @include grid_father(12);
  }  
  .creator-preview.is-on {
    display: block;
    float: none;
    position: absolute;
  }
}

/* MÓDULO — LISTA CREATORS */
.creators-list {
  .creators-list-item {
    @include grid(2, -12px, 2px, 2px);
    margin-bottom: 16px;
    .creators-category-label {
      @include sml-title;
      @include title();
      color: #FFF;
      left: 0px;
      padding: 4px 8px 12px 4px;
      position: absolute;
      top: 16px;
      width: 86px;
      z-index: 2;
    }
    .creator-thumb {
      float: left;
    }
    .creator-header {
      @include text;
      float: left;
      height: 40px;
      .creator-nickname {
        @include sml-title;
        @include title();
        margin-top: 8px;
        padding: 3px 4px 0px;
      }
    }  
  }
}

/* NOVO MÓDULO PARA SHOW DE CREATOR ---------------------- */

  .creator-profile {
    float: left;
    .profile-header {
      @include grid(4);    
    }
  }
  .profile-extra-infos {
    @include grid(4);
    margin-top: 32px;
    .textblock-title {
      @include title;
      padding: 0px 4px;
      display: block;
    }
    .textinline-title {
      @include title;
      padding: 0px 4px;
    }
    .textblock-ctn {
      padding-right: 16px;
    }
  }
  
  .creator-profile-galleries-container {
    @include grid(8);
    background-color: #F2F2F2;
    .galleries-list {
      @include grid(2, 0, 0, 8px);
      .galleries-list-item {
        @include grid(2, 0, 0, 0);
        margin-bottom: 4px;
        img {
          float: left;
        }
      }
    }
    .gallery-window {
      margin-left: 8px;
      float: left;
    }
    .gallery-list {
      @include grid(6, 0, 0 , 0);
      height: 385px;
    }
    .gallery-image {
      max-height: 385px;
      max-width: 584px;
    }
    .paginator-window {
     max-width: 584px;
    }
  }

/* --------------------------------------------------------------------------------- */

/* ESPECIFICIDADES DO SHOW DE UM CREATOR */

.profile-content-wrapper {
  @include grid_father(4);
  .creator-profile-header {
    margin-bottom: 32px;
  }
  .textblock-wrapper {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 32px;
    padding-bottom: 16px;
  }
  .textblock-ctn {
    height: 64px;
    overflow: hidden;
  }
}

/* ---------------------------------------------------------------------------------*/

/* CREATOR PREVIEW */
.creator-preview {
  @include grid(12);
  @include transition(all);
  background-color: #F2F2F2;
  background-color: rgba(244,244,244,0.95);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  left: 0px;
  height: 0px;
  margin-top: -48px;
  min-height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 352px;
  z-index: 100;
  .creator-profile {
    @include grid_father(10);
    @include push(1);
    .profile-header {
      @include grid(3, 0, 0px, 7px);
    }
    .profile-extra-infos {
      @include grid(2);
    }
  }
  .profile-preview-gallery {
    @include grid(4);
    @include push(1);
    background-color: #FFF;
    height: 216px;
  }
}
.creators-list-item:hover ~ .creator-preview.is-on, .creator-preview.is-on:hover {
  height: 216px;
  margin-bottom: 16px;
  min-height: 216px;
  opacity: 1;
  padding: 31px 0px;
}

