/* MAIN HEADER ----------------------------------------------------------- */

.main-header {
}

.main-nav-container {
  @include grid_father(15);
  height: 96px;
  margin-bottom: 32px;
}

.nc-logotipo {
  @include grid(3);
  img {
    height: 80px;
    margin-top: 8px;
    width: 204px;
  }  
}

.master-menu {
  @include grid(12);
  @include mid-title;
  @include title;
  padding-top: 36px;
  .menu-iten {
    float: left;
    margin-right: 28px;
    .master-menu-link {
      border-bottom: 2px solid $secondary-color;
      padding: 0px 8px 14px;
      &:hover {
        border-bottom: 6px solid #740F0D;
        padding-bottom: 10px;
      }
    }
  }
}  
