// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-index {
  #paginate {
    float:left;
  }
}

.section-spacer {
  margin-bottom: 32px;
}

/* CREATORS HOME */
.creators-home {
  @include clearfix;
  .creators-list {
    float: left;
    position: static;
  }
}
.river-window {
  @include grid_father(12, 0, 0, 0);
  @include transition(all);
  overflow: hidden;
  height: 336px;
  .creator-header {
    .creator-nickname {
    }
  }
  &:hover {
    height: 600px;
  }
}
.creators-list-highlight {
  min-width: 2000px;
}



/* BLOCO DE COLUNAS -------------------------------------------------------------------------------------------------- */

.agenda-index {
  @include grid_father(12);
}

/* ---------------------------------------------------------------------------------------------------------------------- */