#mine-product-list {
  background: #fafafa;
  float: left;
  min-height: 400px;
  width: 100%;

  .mine-product {
    background: #e8e8e8;
    float: left;
    margin: 5px;
    min-height: 156px;
    min-width: 184px;
  }
}
