/* publisher */
.draft {
  opacity: 0.2;
  outline: 1px dashed #F00;
}
.unapproved {
  opacity: 0.2;
  outline: 1px dashed #0F0;
}

a.step {
  display: none;
}


.publisher {
  @include clearfix;
  @include text($primary-color);
  @include basic;
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 105px;
  h1 {
    @include title;
    @include section-title;
    margin: 0px 8px 32px 8px;
    padding-top: 2px;
  }
  table {
    width: 100%;
    th {
      text-align: left;
    }
  }
  &.small {
    @include grid(3);
    margin: 15px 30px 15px 125px;
  }
}

.field-group {
  @include clearfix;
  @include grid(3);
  &.secondary {
    @include grid(2);
  }
  &.status {
    @include grid_father(3);
    .field {
      @include grid(1);
    }
  }
  &.alias {
    @include grid_father(2);
  }
}

.field {
  @include clearfix;
  margin-bottom: 15px;
  label {
    @include title;
    @include basic;
    &.inline {
      @include text($primary-color);
      display: inline;
      padding-left: 5px;
      input { margin-right: 5px; }
    }
    .hint {
      color: $secondary-color;
      font-size: 11px;
      font-weight: normal;
      padding-left: 10px;
    }
  }
  &.no-margin {
    margin-bottom: 0px;
  }
}

.adm-imagens-gallery {
  @include grid_father(12);
  background-color: #DDD;
  padding: 16px 8px 0px;
  h6 {
    margin-bottom: 16px;
    .btn {
      margin-left: 32px;
    }
  }
  .adm-imagens-gallery-item {
    @include grid(2, 0, 0, 8px)
  }
}

.month-year-date-field {
  select {
    margin-right: 3%;
    width: 48%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.actions {
  background: #EEE;
  border-top: 1px solid #AAA;
  bottom: 0px;
  left: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  right: 0px;
}

.actions-inline {
  margin-top: 15px;
}

/* MÓDULO - BOTÕES DE EDIÇÃO ----------------------------------------------------------- */
.actions-wrapper:hover .actions-control, .actions-wrapper:hover .more-info {
  display: block;
}
.actions-control {
  display: none;
  right: 16px;
  position: absolute;
  top: 16px;
  a:link, a:active, a:hover {
    color: #FFF;
  }
}
.more-info {
  background: rgba(0,0,0,0.5);
  bottom: 3px;
  color: #FFF;
  display: none;
  left: 0px;
  padding: 2px 12px;
  position: absolute;
  right: 0px;
}  

/* BOTÕES DE EDIÇÃO NO MENU */
.menu-iten .actions-btn {
  display: none;
}  
  .menu-iten:hover .actions-btn {
    display: inline;
  }
/* ------------------------------------------------------------------------------------ */

.support-links {
  @include grid_auto;
  @include text;
  margin-top: 30px;
}

.publisher-nav {
  @include text($primary-color);
  clear: both;
  margin: 15px 0px;
}

.btn, .btn-primary, input[type='submit'] {
  @include basic;
  a:link {
    color: #FFFFFF;
  }
}
.btn.btn-danger, .btn.btn-success {
  color: #FFFFFF;
}

.btn.btn-mini {
  font-size: 11px;
}


input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: 30px;
}
textarea {
  height: 300px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
      -ms-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.loadedAttachments {
  @include grid_father(4, 0, -5px);
  .attachment {
    @include grid(1, 10px);
    background: #EEE;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    height: 140px;
    padding: 4px;
    &:hover {
      .btn {
        display: block;
        margin: 10px 0px 5px 0px;
      }
    }
    .btn {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 110px;
    }
  }
}
