/* STRUCTURE / GRID */
$grid-gutter: 24px;
$grid-halfgutter: 12px;
$grid-column-size: 52px;

@mixin grid($columns, $reduce-width: 0px, $mL: $grid-halfgutter, $mR: $grid-halfgutter) {
  display: inline;
  float: left;
  margin-right: $mR;
  margin-left: $mL;
  position: relative;
  width: (($columns * $grid-column-size) + (($columns - 1) * $grid-gutter)) - $reduce-width;
}
@mixin grid_auto($mL: ($grid-halfgutter), $mR: ($grid-halfgutter) ) {
  display: inline;
  float: left;
  margin-right: $mR;
  margin-left: $mL;
  position: relative;
  width: 'auto';
}

@mixin grid_father($columns, $reduce-width: 0px, $mL: 0px, $mR: 0px) {
  display: inline;
  float: left;
  margin-right: $mR;
  margin-left: $mL;
  position: relative;
  width: (($columns * $grid-column-size) + (($columns - 1) * $grid-gutter)) - $reduce-width + $grid-gutter;
}

@mixin preffix($columns, $reduce-width: 0px, $mL: $grid-halfgutter, $mR: $grid-halfgutter) {
  padding-left: (($columns * $grid-column-size) + (($columns - 1) * $grid-gutter)) - $reduce-width + $grid-gutter;
}

@mixin push($columns, $reduce-width: 0px, $mL: $grid-halfgutter, $mR: $grid-halfgutter) {
  left: (($columns * $grid-column-size) + (($columns - 1) * $grid-gutter)) - $reduce-width + $grid-gutter;
}

@mixin clearfix {
/*  display: inline-block;*/
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

/* media-queries widths and heights */
$w_1: 304px;
$w_2: 456px;
$w_3: 684px;
$w_4: 992px;
$w_5: 1192px;

.container {
  @include clearfix;
  width: 1118+24px;
  margin: 0 auto;
}

