<section class="home-index container">
  <!-- GARIMPO -->
  <section class="mine-index section-spacer">
    <header class="section-header-ctn">
      <h1 class="section-title">
        <a href="">garimpo</a>
          <%= link_to '[edit]', edit_mine_path(@highlight) if user_signed_in? && @highlight %>
      </h1>
    </header>

    <%= render 'highlight', highlight: @highlight %>

    <div class="page-description-item actions-wrapper">
      <%= render 'shared/page_info', page: @page %>
    </div>

    <%= render 'mines_list', mines: @mines %>
  </section>
</section>
