<li class="creator-preview is-on">
  <article class="creator-profile">
    <header class="profile-header">
      <%= link_to image_tag("avatar.jpg", class: "profile-avatar") %>
      <hgroup class="profile-main-infos">
        <h1 class="profile-name"></h1>
        <h2 class="profile-location secondary-title"></h2>
        <h2 class="profile-occupation secondary-title"></h2>
      </hgroup>
    </header>
    <section class="profile-extra-infos">
      <div class="creator-release">
        <span class="textblock-title">
          release
        </span>
        <div class="creator-release-text">
        </div>  
      </div>
    </section>
    <section class="profile-preview-gallery">
      <div class="loading">
      &nbsp;
      </div>
    </section>
  </article>  
</li>