.about-index {
  @include grid_father(12);
  color:$id-color;
}

.about-highlight {
  @include grid_father(12);
}

.about-description {
}

.about-title {
  color:$id-color;
  @include big-title;
}
.about-content {
  @include grid(10);
}

/* CASES */
.cases-index {
  @include grid_father(8);
}

/* ABOUT LOGO */
.about-logo-index {
  @include grid_father(4);
}
.about-logo-content {
  @include grid(4);
  p {
    @include colunms(2);
    padding-top: 3px;
  }
}

