<section class="case-index container">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        ACABOU A GASOLINA
      </h1>
      <h4 class="title2">
        petrobrás — 2008
      </h4>
    </hgroup>
    <p>
      Um concurso de vídeos de grande sucesso foi o Acabou a Gasolina, realizado com o patrocínio da Petrobrás. O concurso teve como foco falar sobre energia. O título inverso gerou grande polêmica e repercussão, ao final foram recebidos 207 vídeos. A repercussão foi tão grande que a ação foi realizada novamente no ano seguinte.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/3340/large.png?1335577398&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3847/dcb92446b0df08d473253071af609cc2a42cd0e0.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/3340/large.png?1335577398&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3847/dcb92446b0df08d473253071af609cc2a42cd0e0.mp4?1325376000" width="400" height="40">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeo Premiado — Vou de trem
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/3157/large.png?1335577316&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3601/f3d730d2069a3642735497f37e62002dd02bbda5.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/3157/large.png?1335577316&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/3601/f3d730d2069a3642735497f37e62002dd02bbda5.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeo Premiado — Alternativa Energética para o Século 21
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case2_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case2_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
          
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 207</h5>
      <h5>Voto do público – 2.172</h5>
      <h5>Visualização de vídeos – 56.208</h5>
      
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        O concurso gerou matérias na mídia espontânea e online. Foram distribuídos cartazes e mini postais em diversas universidades e centros culturais pelos curadores jrs. contratados do Festival do Minuto. 
      </p>
      <p class="highlight-paragrafh">
        Também foram realizadas diversas palestras em universidades com cursos de artes e comunicação durante o ano. Quem ministrou essas palestras foi o criador do Festival e cineasta Marcelo Masagão. As palestras tinham como objetivo expor ao público o formato minuto e a nova maneira de se fazer um festival cultural de vídeos.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        Em 2008 foi lançado um canal exclusivo do Festival no Youtube. Uma parceria que rendeu inúmeras visualizações de vídeos premiados para um público amplo e diversificado.
      </p>
    </div>
  </div>

</section>
