<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        BND 2009
      </h1>
      <h4 class="title2">
        Tema Patrocinado: Minuto Instantâneo – Padre Cícero
      </h4>
    </hgroup>
    <p>
      O Minuto Instantâneo é um concurso de vídeos que acontece no embalo de algum evento especial ou data comemorativa. Em 2009 o Banco do Nordeste patrocinou o tema Padre Cícero, no qual foram recebidos vídeos de até um minuto realizados durante a romaria que acontece anualmente na cidade de Juazeiro do Norte. O projeto foi concluído com sucesso e superou a expectativa inicial de 50 vídeos, foram recebidos 107 vídeos. 
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/6834/large.png?1335579365&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/7277/1b5f7ee8dc78a30658d7cd723d200d9e6143d960.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/6834/large.png?1335579365&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/7277/1b5f7ee8dc78a30658d7cd723d200d9e6143d960.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          O Dia em que Padim Voltou ao Crato
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/6820/large.png?1335579359&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/7262/c991a42cb26d3dfa245098909785875d010172aa.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/6820/large.png?1335579359&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/7262/c991a42cb26d3dfa245098909785875d010172aa.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Padim
        </figurecaption>
      </figure>
            
      <figure class="river-media-ctn">
        <img src="/images/cases/case7_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
            
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 107 videos</h5>
      <h5>Vizualização de videos – 40.122</h5>
      <h5>Voto do publico – 300</h5>
      <h5>Visitas ao hotsite – 5.619</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        Clipping impresso – <strong>989 centímetros de matérias</strong> do Festival do Minuto durante o período do projeto (equivalentes a R$ 98.635,00).
      </p>
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        O concurso também teve divulgação com campanhas virais nas redes sociais do Festival do Minuto, como o Facebook, Twitter, Orkut, Myspace e Youtube.
      </p>
    </div>
    <div class="txt-ctn">
      
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        Foram distribuídos <strong>50 mil mini-postais</strong> e <strong>2 mil cartazes</strong> em centros culturais, universidades e espaços comerciais nas cidades onde vigorava o tema. Foi dada atenção especial às cidades de Fortaleza e Juazeiro do Norte.
      </p>
    </div>
  </div>

</section>
