<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        SABESP e ANA – Agência Nacional das Águas  2012
      </h1>
      <h4 class="title2">
        Tema patrocinado: RIOS
      </h4>
    </hgroup>
    <p>
      Visando chamar a atenção para o assunto de uma maneira inédita e cultural, a Sabesp patrocinou em 2012 o concurso de vídeos com o tema Rios. Além do tema aberto ao público em geral, o concurso Rios também entrou como um dos temas exclusivos no Minuto Escola SP, um concurso de vídeos direcionado a alunos e professores das escolas públicas e estaduais do estado de São Paulo. O concurso obteve excelente repercussão entre o público,  seus cartazes foram viralizados nas redes sociais. A participação da ANA – Agência Nacional das Águas – foi fundamental para incrementar as ações de divulgação através de campanhas no Facebook e no Google.  Ao todo foram recebidos 405 vídeos, com destaque para o estado de Minas Gerais que teve 128 vídeos inscritos.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13382/large.png?1352668178&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13956/d7c698e5f1ba0a08c144029732c4d8f0ebd34e31.mp4?1356998400">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13382/large.png?1352668178&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13956/d7c698e5f1ba0a08c144029732c4d8f0ebd34e31.mp4?1356998400" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Teoria das Membranas
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13382/large.png?1352668178&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13956/d7c698e5f1ba0a08c144029732c4d8f0ebd34e31.mp4?1356998400">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13382/large.png?1352668178&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13956/d7c698e5f1ba0a08c144029732c4d8f0ebd34e31.mp4?1356998400">
          </embed>
        </object>
        <figurecaption class="river-caption">
          The River 
        </figurecaption>
      </figure>
      
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12376/large.png?1349882140&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12882/51f697b7d7823e7c279f9191da6ae79e3c5cb7e8.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12376/large.png?1349882140&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12882/51f697b7d7823e7c279f9191da6ae79e3c5cb7e8.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          IGARA - lapsos lúcidos de um sonho
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case8_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 405</h5>
      <h5>Visualização de vídeos – 44.899</h5>
      <h5>Voto do público – 1.053</h5>
      <h5>Visitas ao hotsite – 18.595</h5>
      <h5>Visualizações de banner – 200.633</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        CLIPPING ONLINE - <strong>45 notícias</strong>
      </p>
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        Foram  <strong>336 opções curtir</strong> e  <strong>425 compartilhamentos</strong> no Facebook e <strong>13 postagens</strong> no Twitter.
      </p>
      <p class="highlight-paragrafh">
        CAMPANHAS PATROCINADAS NO FACEBOOK
      </p>
      <p class="highlight-paragrafh">
        Somando as Fanpages Festival do Minuto e One Minute Festival, o tema atingiu um total de <strong>17.433 cliques</strong>.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        CAMPANHAS PATROCINADAS NO GOOGLE
      </p>
      <p class="highlight-paragrafh">
        No Google Ad Words, o tema Rios se destacou nas ferramentas de pesquisa e apareceu nos sites parceiros do Google, somando no total <strong>1.780 cliques</strong>.
      </p>
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        <strong>10.000 cartazes</strong> e <strong>1.000.000,00 de mini postais</strong> foram distribuídos em diversas Universidades, escolas e centros culturais.
      </p>
    </div>
  </div>

</section>
