<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        movimento cyan
      </h1>
      <h4 class="title2">
        ambev — 2010
      </h4>
    </hgroup>
    <p>
      Em 2010 o Movimento Cyan - Ambev patrocinou o concurso de vídeo com o tema “Água”. O concurso atuou como parte das estratégias de um programa do Movimento Cyan, que visava conscientizar a população sobre o tema. O concurso contou com diferentes ações que potencializaram seu impacto. Uma dessas ações foi o Minuto Móvel, um caminhão personalizado com o tema e a marca do patrocinador, que levou uma mostra de vídeos para 90 locais entre parques, praças e escolas na capital paulistana. Estima-se que o público alcançado pelo Minuto Móvel superou a marca de 130 mil pessoas, o que gerou uma grande quantidade de vídeos recebidos e visualizados no concurso.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8264/large.png?1335579836&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8669/32c8438c869c21c5c67c00bba5a0504d14601a93.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8264/large.png?1335579836&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8669/32c8438c869c21c5c67c00bba5a0504d14601a93.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Making Of Minuto Móvel
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8202/large.png?1335579815&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8616/2cd7c12416ac04aca85f75250037f9cea11340f6.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8202/large.png?1335579815&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8616/2cd7c12416ac04aca85f75250037f9cea11340f6.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeo Premiado — Missão Possível
        </figurecaption>
      </figure>
      
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8124/large.png?1335579794&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8539/211e1180ffa58d416efc24fdd1a445f905ed8964.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/8124/large.png?1335579794&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/8539/211e1180ffa58d416efc24fdd1a445f905ed8964.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeo Premiado — Friends
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case1_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case1_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case1_03.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case1_04.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Exibições do Minuto Móvel realizadas – 90</h5>
      <h5>Público que viu o Minuto Móvel – 134.761</h5>
      <h5>Vídeos recebidos – 513</h5>
      <h5>Vizualização de vídeos – 34.492</h5>
      <h5>Voto do público – 1.222</h5>
      <h5>Visitas ao hotsite – 20.956</h5>
      <h5>Visualização do banner – 262.885</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        Clipping Online – <strong>37 matérias</strong>
      </p>
      <p class="highlight-paragrafh">
        Clipping impresso – <strong>1.524 centímetros de matérias</strong> do Festival do Minuto durante o período do projeto (equivalentes a <strong>R$ 200.033,00</strong>)
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        O concurso também teve divulgação nas redes sociais do Festival do Minuto, como o Facebook, Twitter, Orkut, Myspace e Youtube.*
        <span class="notes">* Nessa época as ferramentas para quantificar o impacto das redes sociais ainda eram pouco desenvolvidas.</span>
      </p>
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        Foram distribuídos <strong>200 mil mini-postais</strong> e <strong>3 mil cartazes</strong> nas ações do Minuto Móvel, em Universidades e centros culturais.
      </p>
    </div>
  </div>

</section>
