<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        SABESP . ANA .  FAPESP  
      </h1>
      <h4 class="title2">
        Tema Patrocinado: MINUTO  ESCOLA SP 2012
      </h4>
    </hgroup>
    <p>
      O Minuto  Escola  é  um concurso de vídeos exclusivo para alunos e professores da rede pública estadual que acontece em edições anuais. Em 2012, na edição paulista, as categorias  abrangeram alunos do Ensino Fundamental de Ciclo II, Ensino Médio e professores. Foram recebidos 478 vídeos de 101 municípios do Estado de São Paulo. 
    </p>
    <p>
      O Minuto Escola tem  foco no aprendizado da linguagem audiovisual, para isso foi desenvolvido um portal de aulas online, o Escola do Minuto.  Nele, alunos e professores contam com um precioso material para auxiliar na produção de vídeos.
    </p>
    <p>
      Ao final do concurso aconteceu um evento de premiação no qual estavam presentes  alunos, professores e curadores do Festival do Minuto. Neste evento foram exibidos e premiados os melhores vídeos e os realizadores receberam o Troféu Minuto.
      A realização do Minuto Escola também é possível em conjunto com as ações do Minuto Móvel, levando mostras de vídeos para diversas escolas.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13066/large.png?1351614328&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13617/9b5e9d73e516ee87cc90effff7a1a91279289354.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13066/large.png?1351614328&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/13617/9b5e9d73e516ee87cc90effff7a1a91279289354.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeos Premiados – Ta na hora da aula de artes
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.minuteen.com.br/jwplayer.swf?image=http://d20ocsr95692v5.cloudfront.net/thumbnails/427/large.png?1343771564&file=http://s3.amazonaws.com/production.minuteen/encoded_videos/1178/ee7a558bf56a33c5e01f4d3d6b4839a137e8cb10.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.minuteen.com.br/jwplayer.swf?image=http://d20ocsr95692v5.cloudfront.net/thumbnails/427/large.png?1343771564&file=http://s3.amazonaws.com/production.minuteen/encoded_videos/1178/ee7a558bf56a33c5e01f4d3d6b4839a137e8cb10.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeo Premiado — O Big Bang e a TV
        </figurecaption>
      </figure>
            
      <figure class="river-media-ctn">
        <img src="/images/cases/case5_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case5_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case5_03.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos  recebidos -  478</h5>
      <h5>Visualização de vídeos -  22.136</h5>
      <h5>Voto do público -  604</h5>
      <h5>Visitas ao hotsite – 5.613</h5>
      <h5>Número de impressões do banner – 53.510</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        Clipping online – <strong>62 notícias</strong>
      </p>
      <p class="highlight-paragrafh">
        Na mídia espontânea, o Minuto Escola encontra espaço em jornais impressos de grande visibilidade, além de matérias em canais de televisão. Em 2012 foi realizada uma matéria sobre o Minuto Escola SP no SPTV 1ª Edição, telejornal veiculado pela Rede Globo.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        <strong>52 opções curtir</strong> no Facebook<br>
        <strong>115 compartilhamentos</strong> no Facebook<br>
        <strong>12 posts</strong> no Twitter
      </p>
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        Foram produzidos <strong>1 milhão de mini postais</strong> e <strong>10.000 cartazes</strong> que foram distribuídos em <strong>4.200 escolas públicas</strong> estaduais de São Paulo, de Ensino Fundamental Ciclo II e Ensino Médio.
      </p>
    </div>
  </div>

</section>
