<section class="container">
  <header>
    <hgroup>
      <span class="title-border">
        <h1 class="section-title">
          Nome de um case
        </h1>
      </span>
      <h4 class="">
        cliente — ano
      </h4>  
    </hgroup>
    <div class="txt-ctn">
      texto do case
    </div>
  </header>
  <div class="gallery-window case-images">
    <div class="gallery-river gallery-river-case1">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
      <img src="/images/case1-2.png" class="river-image">
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2> 
    <div class="txt-ctn">
      <h5>chamada um</h5>
      <h5>chamada dois</h5>
      <h5>chamada três</h5>
    </div>
  </div> 
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div> 
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        uma chamada de texto <strong>com dados em destaque</strong>
      </p>
    </div>   
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        uma chamada de texto <strong>com dados em destaque</strong>
      </p>
    </div>   
  </div> 

</section>
