<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        NET 2011
      </h1>
      <h4 class="title2">
        Temas patrocinados: TRAILER  DO MEU FILME  E  MINUTO UNIVERSITÁRIO
      </h4>
    </hgroup>
    <p>
      Em 2011 a NET patrocinou dois concursos de vídeos: Trailer do Meu Filme e Universitário. Ambos tinham como alvo principal o público jovem, principalmente estudantes de comunicação e artes. Para complementar a ação, o Festival do Minuto contratou curadores jrs. em diversas universidades pelo Brasil. Além de avaliarem os vídeos recebidos, os curadores distribuíram cartazes e mini postais pelas universidades e centros culturais de suas cidades e organizaram Mostras do Festival do Minuto nas instituições de ensino. Somando os concursos, foram recebidos 594 vídeos e a quantidade de visualizações de vídeos no site do Minuto chegou a 99.731.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9794/large.png?1335580334&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10198/d2fd4bfe72f00f3c9e2b7b08f0b97f5d3aa38027.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9794/large.png?1335580334&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10198/d2fd4bfe72f00f3c9e2b7b08f0b97f5d3aa38027.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeos Premiados Trailer do Meu Filme — A Saga do Porco Esperança
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9404/large.png?1335580212&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/9815/758e3eb3f427cebe7becbb892872f71a385489a5.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9404/large.png?1335580212&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/9815/758e3eb3f427cebe7becbb892872f71a385489a5.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeos Premiados Trailer do Meu Filme — Autofilmografia
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9887/large.png?1335580370&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10282/f17783c9eb8c434ffc491fa14aa97dd40d9db58a.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9887/large.png?1335580370&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10282/f17783c9eb8c434ffc491fa14aa97dd40d9db58a.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeos Premiados Universitário — Eu quero fazer um filme
        </figurecaption>
      </figure>

      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9830/large.png?1335580342&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10223/296b9c917204460738e2e54a2ef410734de870b7.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/9830/large.png?1335580342&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/10223/296b9c917204460738e2e54a2ef410734de870b7.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Vídeos Premiados Universitário — Meu Maior Tambor
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case9_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case9_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case9_03.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 594</h5>
      <h5>Visualização de vídeos – 99.731</h5>
      <h5>Voto do público – 5.359</h5>
      <h5>Visitas ao hotsite – 32.442</h5>
      <h5>Visualizações de banner – 1.547.533</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        CLIPPING ONLINE - <strong>98 notícias</strong><br>
        CLIPPING IMPRESSO – <strong>43 notícias</strong>
      </p>
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        Os concursos foram divulgados através de virais no Facebook, Twitter, Orkut e Myspace, além de mensagens enviadas por email para todos os usuários cadastrados no site do Festival do Minuto. No Google, a busca pelos nomes dos concursos alcançaram a 1ª posição entre <strong>10,1 bilhões de resultados</strong>.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        <strong>2.000 cartazes</strong> e <strong>500.000 mini postais</strong> foram distribuídos em diversas Universidades e centros culturais.
      </p>
    </div>
  </div>

</section>
