<section class="case-index container">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        AVON 2013
      </h1>
      <h4 class="title2">
        Temas patrocinados: CORES, ESPELHO, FAMÍLIA
      </h4>
    </hgroup>
    <p>
      Em 2012 foram realizados os concursos de vídeos CORES, ESPELHO e FAMÍLIA com o patrocínio da AVON. Os temas patrocinados receberam no total 758 vídeos no período de 5 meses, superando o objetivo inicial de 600 vídeos. Chegaram vídeos de todas as regiões brasileiras e diversos países. Foram ao todo 22 vídeos premiados e 40 mil reais em prêmios para os realizadores. Os prêmios foram dados pela AVON, pela curadoria do Festival do Minuto e pelo público. A repercussão nas redes sociais e na mídia espontânea gerou números significativos.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/frame_thumbnails/11899/large.png?1346773924&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12345/b287429ef26747f76f94aa1b82e11418630486a3.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/frame_thumbnails/11899/large.png?1346773924&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12345/b287429ef26747f76f94aa1b82e11418630486a3.mp4?1325376000" width="400" height="40">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Cores – I see you
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12077/large.png?1348308221&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12559/833fe4bb0c526e01ba87e61da4009a49eddce1fc.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12077/large.png?1348308221&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12559/833fe4bb0c526e01ba87e61da4009a49eddce1fc.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Espelho — Lost in the Mirror
        </figurecaption>
      </figure>
      
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13493/large.png?1353432611&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/14075/a26ff82aa2ab8dd883b744f0169e477ef2e4d64c.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/13493/large.png?1353432611&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/14075/a26ff82aa2ab8dd883b744f0169e477ef2e4d64c.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Família – Vovôs
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_03.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_04.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_05.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case3_06.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 758></h5>
      <h5>Visualização de vídeos – 206.949</h5>
      <h5>Voto do público – 3.053</h5>
      <h5>Visitas ao hotsite – 35.221</h5>
      <h5>Número de impressões do banner: 352.788</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        CLIPPING ONLINE - <strong>29 notícias</strong>
      </p>
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        Os três temas totalizaram  <strong>372 opções curtir</strong> e  <strong>298 compartilhamentos no Facebook</strong> e <strong>26 postagens no Twitter</strong>.
      </p>
      <p class="highlight-paragrafh">
        campanhas patrocinadas no facebook
      </p>
      <p class="highlight-paragrafh">
        Somando as fanpages Festival do Minuto e One Minute Festival, os três temas atingiram um total de <strong>46.592 cliques</strong>.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        300 cartazes e 440.000 mini postais para diversas Universidades.
      </p>
      <p class="highlight-paragrafh">
        350 cartazes e 260.000 mini postais em centros culturais, bibliotecas, escolas, bares e baladas.
      </p>
      <p class="highlight-paragrafh">
        350 cartazes e 300.000 mini postais para escolas públicas e estaduais.
      </p>
    </div>
  </div>

</section>
