<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        MINUTO MÓVEL
      </h1>
    </hgroup>
    <p>
      Um caminhão do Festival do Minuto percorre cidades exibindo uma seleção de filmes premiados do Minuto em eventos, praças, praias, bares, universidades e escolas e fazendo promoção da marca do patrocinador e dos temas do Festival por onde passa. 
    </p>
    <p>
      As ações com o Minuto Móvel acontecem desde 2009 e abordam diversos temas de concursos durante essa trajetória. O  público é diversificado, de acordo com o tipo de lugar e temas propostos. O Minuto Móvel é uma forma de difundir cultura e instigar o público a conhecer e produzir conteúdo cultural.
    </p>
    <p>
      Em 2012 foram realizadas ações com o patrocínio da Coopersucar com foco nas escolas da rede pública estadual. Ao todo foram 50 exibições da Mostra dos  Melhores Minutos de 2011, 25 exibições na Capital de São Paulo e 25 exibições em escolas do interior do estado.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/11197/large.png?1340133281&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11616/90fa215250a7c1dd092265cb9961bc350a8f02ef.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/11197/large.png?1340133281&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11616/90fa215250a7c1dd092265cb9961bc350a8f02ef.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Making Of Minuto Móvel
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case6_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case6_02.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case6_03.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Cidades visitadas – 22</h5>
      <h5>Números de escolas visitadas – 50</h5>
      <h5>Diárias realizadas: 50</h5>
      <h5>Público alcançado – 28.880</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        Foram distribuídos <strong>100 mil mini-postais</strong> nas escolas visitadas. 
      </p>
      <p class="highlight-paragrafh">
        Na web o projeto foi divulgado com destaque na home do site do Festival do Minuto e também nas redes sociais, com postagens no Facebook e Twitter. 
      </p>
      <p class="highlight-paragrafh">
        Outras empresas que já patrocinaram o Minuto Móvel: Nestlé, Nike, Ambev, EDP Bandeirante, Instituto Votorantim e Duratex.
      </p>
    </div>
  </div>

</section>
