<section class="case-index container content-wrapper">
  <header class="section-header-ctn indented-title">
    <span class="title-border">
      <h1 class="section-title blank-title">
        &nbsp;
      </h1>
    </span>
  </header>
  <div class="txt-ctn case-text">
    <hgroup class="case-title-header">
      <h1 class="title1">
        FAPESP 2012
      </h1>
      <h4 class="title2">
        Tema patrocinado: CIÊNCIA
      </h4>
    </hgroup>
    <p>
      O tema Ciência é muito desafiador, pois o realizador precisa, além de “abstrair” para passar o conceito de Ciência, traduzir esse conceito em uma narrativa audiovisual interessante. No total foram recebidos 264 vídeos no concurso e o tema atingiu significativa repercussão na mídia espontânea. Um dado que chama a atenção nesse tema é a forte participação de jovens de até 18 anos, além de grande presença do sexo feminino. Esses dados ressaltam a participação do tema no Minuto Escola SP, um concurso de vídeos destinado aos alunos e professores da rede pública estadual do estado de São Paulo. Apesar de estar incluso no Minuto Escola SP, o tema foi aberto para o público em geral.
    </p>
  </div>
  <div class="gallery-window case-images">
    <div class="case-images-river">
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12344/large.png?1349744427&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12848/67c9067e6d3d54cbdece9c0fcb41a7507ee9dc3b.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/12344/large.png?1349744427&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/12848/67c9067e6d3d54cbdece9c0fcb41a7507ee9dc3b.mp4?1325376000" >
          </embed>
        </object>
        <figurecaption class="river-caption">
          Fluxo Terra
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <object width="343" height="257" class="river-video"
        classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
        <param name="SRC" value="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/10881/large.png?1337353292&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11278/5a0f366698a05cb2ae6a3834cb8161209e694e8a.mp4?1325376000">
          <embed width="343" height="257" class="river-video" src="http://www.festivaldominuto.com.br/jwplayer.swf?image=http://d31lswsn1fcyhi.cloudfront.net/thumbnails/10881/large.png?1337353292&file=http://s3.amazonaws.com/production.mediachoice/encoded_videos/11278/5a0f366698a05cb2ae6a3834cb8161209e694e8a.mp4?1325376000">
          </embed>
        </object>
        <figurecaption class="river-caption">
          Dia do Índio
        </figurecaption>
      </figure>
      
      <figure class="river-media-ctn">
        <img src="/images/cases/case4_01.jpg" class="river-image">
        <figurecaption>
          &nbsp;
        </figurecaption>
      </figure>
      
    </div>
  </div>
  <div class="data-ctn case-data">
    <h2 class="data-header">Dados do concurso</h2>
    <div class="txt-ctn">
      <h5>Vídeos recebidos – 264</h5>
      <h5>Visualização de vídeos – 27.278</h5>
      <h5>Voto do público – 758</h5>
      <h5>Visitas ao hotsite – 11.014</h5>
      <h5>Visualizações de banner – 141.328</h5>
    </div>
  </div>
  <div class="data-ctn case-grafhics">
    <h2 class="data-header">Gráficos</h2>
    <div class="img-ctn">
      <img src="/images/graficos.png">
    </div>
  </div>
  <div class="data-ctn case-metrics border-top">
    <h2 class="data-header">Divulgação</h2>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        CLIPPING ONLINE - <strong>58 notícias</strong>
      </p>
      <p class="highlight-paragrafh">
        redes sociais
      </p>
      <p class="highlight-paragrafh">
        Foram  <strong>96 opções curtir</strong> e  <strong>222 compartilhamentos</strong> no Facebook e <strong>13 postagens</strong> no Twitter.
      </p>
    </div>
    <div class="txt-ctn">
      <p class="highlight-paragrafh">
        distribuição do material gráfico
      </p>
      <p class="highlight-paragrafh">
        <strong>10.000 cartazes</strong> e <strong>1.000.000,00 de mini postais</strong> foram distribuídos em diversas Universidades, escolas e centros culturais.
      </p>
    </div>
  </div>

</section>
